a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:rgb(220, 53, 69) ;
}
body{
    background-color: rgb(40, 48, 51);
    color: white;
}
.movies{
    text-align: center;
}
.section{
    padding-top: 30px;
   
}
.latmovies{
    padding-top: 10px;
    padding-bottom: 10px;
}
.achievement  li{
    list-style: none;
}
.latestmovies h2{
    padding-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}
footer{
    background-color: rgb(32, 33, 31);
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.foot{
    padding-bottom: 10px;
}
.latestmovies button{
    margin-top: 10px;
}
